#ENVIRONMENT VARIABLES
# - To use getSmartAccountWalletClient you'll need the private key associated with your Geo account.
# - You can get the private key for your Geo Genesis account using https://www.geobrowser.io/export-wallet.
PK_SW = "0x<private_key>" 
TARGET_SPACE_ID = "<space_id_to_publish_or_query>"
PUBLIC_SPACE_ID = "<optional_public_space_id_preferred_by_global_skill>"
CANONICAL_TAXONOMY_SPACE_ID = "41e851610e13a19441c4d980f2f2ce6b"
